<ion-header>

  <ion-navbar>

    <ion-title>
      <button ion-button clear color="dark" icon-start (tap)="back()">
        <ion-icon name='arrow-back'></ion-icon>
      </button>
      <span *ngIf="currentJournal && currentJournal.title">
        {{currentJournal.title}}
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


  <ion-fab right top edge>
    <button ion-fab color="danger"><ion-icon name="build"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab (tap)="editJournal()">
        <ion-icon name="create" ></ion-icon>
      </button>
      <button ion-fab (tap)="deleteJournal()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab color="primary" (tap)="addTraining()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let training of currentJournal.trainings" (tap)="openTraining(training.id)">
    <ion-card-header>
      <span>Название:</span>
      {{training.title}}
    </ion-card-header>
    <ion-card-content>
      <span>Количество упражнений:</span>
      {{training.exercises.length}}
    </ion-card-content>
  </ion-card>


</ion-content>
