<ion-header>

  <ion-navbar color="primary">

    <ion-title>
      Журнал треннировок
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-fab right top edge >
    <button ion-fab color="dark" (tap)="addTraining()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div class="empty-state" *ngIf="!currentJournal.trainings.length">
    <div>
      <p>
        У вас еще нет ни одной треннировки.
      </p>
      <p>
        Для добавления треннировки нажмите "+" внизу экрана.
      </p>
    </div>
  </div>

  <ion-card *ngFor="let training of currentJournal.trainings" (tap)="openTraining(training.id)">
    <ion-card-header>
      <span>Название:</span>
      {{training.title}}
    </ion-card-header>
    <ion-card-content *ngIf="training.exercises">
      <span>Количество упражнений:</span>
      {{training.exercises.length}}
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right *ngIf="currentJournal.trainings.length">
    <button ion-fab color="danger" (tap)="openStartingTrainingMenu()"><ion-icon name="play"></ion-icon></button>
  </ion-fab>


</ion-content>
