page-journal {

  .toolbar-title {
    & > * {
      vertical-align: middle;
    }
  }
  .card.active{
    background: #b9b9b9;
    color: white;
    .card-header-md{
      color: white;
    }
  }

}
