<ion-header>

  <ion-navbar color="primary">
    <ion-title>Текущая треннировка</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>

    <ion-row *ngFor="let exercise of currentTraining.exercises">
      <ion-col col-12>
        {{exercise.title}}
      </ion-col>
      <ion-col col-12>
        <ion-row>
          <ion-col col-4 *ngFor="let repetition of exercise.repetitions" class="exercise-block">
            <ion-row>
              <ion-col col-12>
                <div class="flex-container">
                  <ion-input type="number" [(ngModel)]="repetition.repetition"></ion-input>
                  <span>
                    повт.
                  </span>
                </div>
              </ion-col>
              <ion-col col-12>
                <div class="flex-container">
                  <ion-input type="number" [(ngModel)]="repetition.weight"></ion-input>
                  <span>
                    кг
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab color="danger" (tap)="stopTraining()">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
