<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Календарь</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!calendar || !calendar.length" class="empty-state">
    <p>
      Еще не проводилось ни одной треннировки для записей в календаре.
      Проведите треннировку чтобы она отображалась в календаре
    </p>
  </div>

  <ion-card *ngFor="let training of calendar" (tap)="openTrainingInfo(training.$key)">
    <ion-card-header>
      <span>Название:</span>
      {{training.title}}
    </ion-card-header>
    <ion-card-content>
      <div>
        <p>Продолжительность: {{getDuration(training.startAt, training.stopAt)}}</p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
